<?xml version="1.0" encoding="utf-8"?>
<manifest package="jp.co.yahoo.yconnect.yjloginsdk"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.android.chrome" />
        <package android:name="com.chrome.beta" />
        <package android:name="com.chrome.dev" />
        <package android:name="org.mozilla.firefox" />
    </queries>

    <application>
        <activity
            android:name="jp.co.yahoo.yconnect.yjloginsdk.activity.LoginProcessActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${scheme}" />
            </intent-filter>
        </activity>
    </application>
</manifest>