name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v1

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Run lint
        run: ./gradlew ktlint

      - name: Build and Test with Gradle
        run: ./gradlew build
